.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(208, 210, 214, 0.652);
    padding: 15px 5%;
    font-size: 30px;
    

    a {
        color: rgb(12, 67, 150);
        font-weight: 700;
        font-size: 22px;
        text-decoration: none;
        padding: 5px;
        margin-left: 25px;
    }
    

        .widget {
            color: rgb(105, 150, 218) solid;
            font-size: 30px;
        }

        .activeLink {
            border: 2px rgb(20, 88, 191) solid;
            border-radius: 5px;
        }
    }


