.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(144, 221, 147);
    padding: 15px 5%;
    font-size: 30px;
    a {
        color: rgb(66, 121, 192);
        font-weight: 700;
        font-size: 22px;
        text-decoration: none;
        padding: 5px;
        margin-left: 25px;
    }
    

        .widget {
            color: white;
            font-size: 30px;
        }
    }


